@import "~bootstrap/dist/css/bootstrap.min.css";
@import url('https://fonts.googleapis.com/css?family=Lato');

.page-content {
    font-family: "Lato", sans-serif;
    font-size: 12px;

    .pointer {
        cursor: pointer;
    }

    /* Bootstrap overrides */
    .form-group {
        margin-bottom: 0 !important;
    }
}